<html data-namespace-typo3-fluid='true'
      xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'>
<f:if condition='{type} == "sms"'>
    <f:then>
        <f:variable name='multi' value='true'/>
    </f:then>
    <f:else>
        <f:variable name='multi' value='false'/>
    </f:else>
</f:if>

<div class='form-group'>
    <label for='feUsers'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_message.xlf:feUsers'/>
    </label>

    <f:form.select id='feUsers' multiple='{multi}' optionLabelField='name'
                   optionValueField='telephone' options='{feUsers}'
                   property='feUsers'/>
</div>
</html>
