<html
        data-namespace-typo3-fluid='true'
        xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'
        xmlns:s77='http://typo3.org/ns/Sms77/Sms77Typo3/ViewHelpers'>

<table>
    <tbody>
    <f:for as='value' each='{array}' key='key'>
        <tr>
            <f:if condition='{s77:isInteger(data: key)}'>
                <f:then>
                    <td colspan='2'>{value}</td>
                </f:then>
                <f:else>
                    <th>{key}</th>
                    <td>{value}</td>
                </f:else>
            </f:if>
        </tr>
    </f:for>
    </tbody>
</table>

</html>