<html
        data-namespace-typo3-fluid='true'
        xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'
        xmlns:s77='http://typo3.org/ns/Seven/TYPO3/ViewHelpers'>

<table>
    <tbody>
    <f:for as='value' each='{array}' key='key'>
        <f:variable name='valueType' value='{s77:getType(data: value)}'/>

        <f:if condition='"boolean" == {valueType}'>
            <f:then>
                <f:if condition='{value}'>
                    <f:then>
                        <f:variable name='value' value='true'/>
                    </f:then>
                    <f:else>
                        <f:variable name='value' value='false'/>
                    </f:else>
                </f:if>
            </f:then>
        </f:if>

        <tr>
            <f:if condition='"integer" == {valueType}'>
                <f:then>
                    <td colspan='2'>{value}</td>
                </f:then>
                <f:else>
                    <th>{key}</th>
                    <td>{value}</td>
                </f:else>
            </f:if>
        </tr>
    </f:for>
    </tbody>
</table>

</html>
