<html
        data-namespace-typo3-fluid='true'
        xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'>
<div class='form-group'>
    <label for='delay'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:delay'/>
    </label>
    <f:form.textfield class='form-control' id='delay'
                      property='delay'/>
</div>

<div class='form-group'>
    <label for='foreign_id'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:foreign_id'/>
    </label>
    <f:form.textfield class='form-control' id='foreign_id' property='foreign_id'/>
</div>

<div class='form-group'>
    <label for='label'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:label'/>
    </label>
    <f:form.textfield class='form-control' id='label' property='label'/>
</div>

<div class='form-group'>
    <label for='udh'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:udh'/>
    </label>
    <f:form.textfield class='form-control' id='udh' property='udh'/>
</div>

<div class='form-group'>
    <label for='ttl'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:ttl'/>
    </label>
    <f:form.textfield class='form-control' id='ttl' property='ttl'/>
</div>

<div class='form-group'>
    <label for='flash'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:flash'/>
    </label>
    <f:form.checkbox class='form-control' id='flash' property='flash' value='1'/>
</div>

<div class='form-group'>
    <label for='performance_tracking'>
        <f:translate
                key='LLL:EXT:seventypo3/Resources/Private/Language/locallang_config.xlf:performance_tracking'/>
    </label>
    <f:form.checkbox class='form-control' id='performance_tracking'
                     property='performance_tracking' value='1'/>
</div>
</html>
