<html
        data-namespace-typo3-fluid='true'
        xmlns:core='http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers'
        xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'>

<f:link.action action='new' arguments="{configuration: null, type: 'voice'}"
               class='btn btn-default pull-right'>
    {f:translate(key:
    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:voice')}

    <core:icon identifier='actions-add' size='small'/>
</f:link.action>

<f:link.action action='new' arguments="{configuration: null, type: 'sms'}"
               class='btn btn-default pull-right'>
    {f:translate(key:
    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:sms')}

    <core:icon identifier='actions-add' size='small'/>
</f:link.action>

<div class='panel panel-default panel-space'>
    <div class='table-fit'>
        <table class='table table-striped table-hover'>
            <thead>
            <tr>
                <td>{f:translate(key:
                    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:created')}
                </td>
                <td>{f:translate(key:
                    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:type')}
                </td>
                <td>{f:translate(key:
                    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:config')}
                </td>
                <td>{f:translate(key:
                    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:response')}
                </td>
                <td>{f:translate(key:
                    'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:actions')}
                </td>
            </tr>
            </thead>
            <tbody>
            <f:for as='message' each='{messages}'>
                <tr data-uid='{message.uid}'>
                    <td>
                        <f:render arguments='{timestamp: message.created}'
                                  partial='Created'/>
                    </td>
                    <td>
                        {message.type}
                    </td>
                    <td>
                        <f:render arguments='{text: message.config}' partial='Crop'/>
                    </td>
                    <td>
                        <f:render arguments='{text: message.response}' partial='Crop'/>
                    </td>
                    <td>
                        <f:link.action action='delete'
                                       arguments='{uid: message.uid}'
                                       title="{f:translate(key: 'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:delete')}">
                            <core:icon identifier='actions-edit-delete'/>
                        </f:link.action>

                        <f:link.action action='new'
                                       arguments='{configuration: message.configArray}'
                                       title="{f:translate(key: 'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:resend')}">
                            <core:icon identifier='actions-document-synchronize'/>
                        </f:link.action>

                        <f:link.action action='show' arguments='{message: message}'
                                       title="{f:translate(key: 'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:show')}">
                            <core:icon identifier='actions-document-view'/>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</div>

</html>