<html
        data-namespace-typo3-fluid='true'
        xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'>

<f:be.pageRenderer
        includeRequireJsModules="{
            0:'{f:uri.resource(path: \'JavaScript/Message/New.js\')}'
        }"
/>

<f:form action='create' object='{config}' objectName='config'>
    <div class='form-group'>
        <label for='feUsers'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:feUsers'/>
        </label>
        <f:form.select id='feUsers' multiple='multiple' optionLabelField='name'
                       optionValueField='telephone' options='{feUsers}'
                       property='feUsers'/>
    </div>

    <div class='form-group'>
        <label for='text'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:text'/>
        </label>
        <f:form.textarea class='form-control' id='text'
                         property='text' required='required'/>
    </div>

    <div class='form-group'>
        <label for='to'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:to'/>
        </label>
        <f:form.textfield class='form-control' id='to' property='to'
                          required='required'/>
    </div>

    <div class='form-group'>
        <label for='from'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:from'/>
        </label>
        <f:form.textfield class='form-control' id='from' property='from'/>
    </div>

    <div class='form-group'>
        <label for='delay'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:delay'/>
        </label>
        <f:form.textfield class='form-control' id='delay'
                          property='delay'/>
    </div>

    <div class='form-group'>
        <label for='foreign_id'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:foreign_id'/>
        </label>
        <f:form.textfield class='form-control' id='foreign_id' property='foreign_id'/>
    </div>

    <div class='form-group'>
        <label for='label'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:label'/>
        </label>
        <f:form.textfield class='form-control' id='label' property='label'/>
    </div>

    <div class='form-group'>
        <label for='udh'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:udh'/>
        </label>
        <f:form.textfield class='form-control' id='udh' property='udh'/>
    </div>

    <div class='form-group'>
        <label for='ttl'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:ttl'/>
        </label>
        <f:form.textfield class='form-control' id='ttl' property='ttl'/>
    </div>

    <div class='form-group'>
        <label for='debug'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:debug'/>
        </label>
        <f:form.checkbox class='form-control' id='debug' property='debug' value='1'/>
    </div>

    <div class='form-group'>
        <label for='details'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:details'/>
        </label>
        <f:form.checkbox class='form-control' id='details' property='details'
                         value='1'/>
    </div>

    <div class='form-group'>
        <label for='flash'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:flash'/>
        </label>
        <f:form.checkbox class='form-control' id='flash' property='flash' value='1'/>
    </div>

    <div class='form-group'>
        <label for='json'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:json'/>
        </label>
        <f:form.checkbox class='form-control' id='json' property='json' value='1'/>
    </div>

    <div class='form-group'>
        <label for='no_reload'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:no_reload'/>
        </label>
        <f:form.checkbox class='form-control' id='no_reload' property='no_reload'
                         value='1'/>
    </div>

    <div class='form-group'>
        <label for='performance_tracking'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:performance_tracking'/>
        </label>
        <f:form.checkbox class='form-control' id='performance_tracking'
                         property='performance_tracking' value='1'/>
    </div>

    <div class='form-group'>
        <label for='return_msg_id'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:return_msg_id'/>
        </label>
        <f:form.checkbox class='form-control' id='return_msg_id'
                         property='return_msg_id' value='1'/>
    </div>

    <div class='form-group'>
        <label for='unicode'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:unicode'/>
        </label>
        <f:form.checkbox class='form-control' id='unicode' property='unicode'
                         value='1'/>
    </div>

    <div class='form-group'>
        <label for='utf8'>
            <f:translate
                    key='LLL:EXT:sms77typo3/Resources/Private/Language/locallang_config.xlf:utf8'/>
        </label>
        <f:form.checkbox class='form-control' id='utf8' property='utf8' value='1'/>
    </div>

    <div class='form-group'>
        <f:form.submit class='btn btn-default'
                       value="{f:translate(key: 'LLL:EXT:sms77typo3/Resources/Private/Language/locallang_message.xlf:submit')}"/>
    </div>
</f:form>

</html>