<html data-namespace-typo3-fluid='true'
      xmlns:f='http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers'>

<f:render
        arguments='{key: "LLL:EXT:sms77typo3/Resources/Private/Language/locallang_lookup.xlf:format", type: "format"}'
        partial='NewAction'/>

<f:render
        arguments='{key: "LLL:EXT:sms77typo3/Resources/Private/Language/locallang_lookup.xlf:hlr", type: "hlr"}'
        partial='NewAction'/>

<f:render
        arguments='{key: "LLL:EXT:sms77typo3/Resources/Private/Language/locallang_lookup.xlf:cnam", type: "cnam"}'
        partial='NewAction'/>

<f:render
        arguments='{key: "LLL:EXT:sms77typo3/Resources/Private/Language/locallang_lookup.xlf:mnp", type: "mnp"}'
        partial='NewAction'/>

<f:render arguments='{_all}' partial='Panel'/>

</html>